{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src={% static "vector3d.js" %}></script>
<script src={% static "latlon-ellipsoidal.js" %}></script>
<script src={% static "utm.js" %}></script>
<script src={% static "dms.js" %}></script>
<script src={% static "osgridref.js" %}></script>
<script>
	imageArray2d = {{imageArray}}

	function dataToBase64(colors, width, height){
	    var canvas = document.createElement('canvas'),
	        ctx = canvas.getContext('2d'),
	        color;
	    //setup canvas
	    canvas.width = width,
	    canvas.height = height;
	    //grab data
	    var data = ctx.getImageData(0, 0, width, height),
	        _data = data.data; //simple speed optimization    
	    //place data
	    for(var i = 0, l = _data.length; i < l; i+=4){
	        color = colors[i/4];
	        _data[i] = color,
	        _data[i+1] = color,
	        _data[i+2] = color,
	        _data[i+3] = 255;
	    }
	    ctx.putImageData(data, 0, 0);
	    //return base64 string
	    return canvas.toDataURL();
	}

	$(document).ready(function() {
		var data = [];
		for(var i = 0, l = 1081; i < l; i++){
			for(var j = 0, k = 1081; j < k; j++){
				data.push(imageArray2d[i][j]);
			}
		}

		var image = document.getElementById('i');
		//display image only after it's loaded
		image.onload = function(){this.style.display='block'}.bind(image);
		//and finally set the .src
		image.src = dataToBase64(data, 1000, 1000);
	});
</script>
</head>
	<img id="i" src="" width="1081" height="1081" style="display:none" />
</html>