{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src={% static "vector3d.js" %}></script>
<script src={% static "latlon-ellipsoidal.js" %}></script>
<script src={% static "utm.js" %}></script>
<script src={% static "dms.js" %}></script>
<script src={% static "osgridref.js" %}></script>
<script>
	//size of the square in m
	var squareSide = 18000;
	//starting coords in easting northing
	var squareBaseCoord = [460000,370000];
	var squareCoords;
	var square;

  	function initialize() {
  		var mapCanvas = document.getElementById('map-canvas');
  		var mapOptions = {
  			center: new google.maps.LatLng(53.223668,-1.102773),
      		zoom: 6,
      		mapTypeId: google.maps.MapTypeId.ROADMAP
    	}
  		var map = new google.maps.Map(mapCanvas,mapOptions);
  		squareCoords = makeSquareCoords();
  		square = new google.maps.Polygon({
		    map: map,
		    paths: squareCoords,
		    strokeColor: '#FF0000',
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: '#FF0000',
		    fillOpacity: 0.35,
		    draggable: true,
		    geodesic: false
		});
  		google.maps.event.addListener(map, 'click', function(e) {
	  	});
	  	google.maps.event.addListener(square, 'dragend', function(e) {
	  		redrawSquare();
	  	});
  	}

  	function redrawSquare(){
		squareBaseCoord = getENLL(square.getPath().j,false);
	  	squareCoords = makeSquareCoords();
	  	document.getElementById('square-size-display').innerHTML = squareSide/1000 + 'km';
	  	square.setPath(squareCoords);
  	}

  	//makes LL square using squareBaseCoord and squareSide globals
  	function makeSquareCoords() {
  		output = [];
  		t1 = OsGridRef.osGridToLatLon(new OsGridRef(squareBaseCoord[0], squareBaseCoord[1]));
  		output.push(new google.maps.LatLng(t1.lat,t1.lon));
  		t1 = OsGridRef.osGridToLatLon(new OsGridRef(squareBaseCoord[0]+squareSide, squareBaseCoord[1]));
  		output.push(new google.maps.LatLng(t1.lat,t1.lon));
  		t1 = OsGridRef.osGridToLatLon(new OsGridRef(squareBaseCoord[0]+squareSide, squareBaseCoord[1]+squareSide));
  		output.push(new google.maps.LatLng(t1.lat,t1.lon));
  		t1 = OsGridRef.osGridToLatLon(new OsGridRef(squareBaseCoord[0], squareBaseCoord[1]+squareSide));
  		output.push(new google.maps.LatLng(t1.lat,t1.lon));
  		return output;
  	}

  	//input array in gmaps form [rf,rf,rf,rf] where rf.A = lat, rf.F = lon
  	function getENSquare(pathArray){
  		output = []
  		t1 = OsGridRef.latLonToOsGrid(new LatLon(pathArray[0].A, pathArray[0].F));
  		output.push([t1.easting,t1.northing]);
  		t1 = OsGridRef.latLonToOsGrid(new LatLon(pathArray[1].A, pathArray[1].F));
  		output.push([t1.easting,t1.northing]);
  		t1 = OsGridRef.latLonToOsGrid(new LatLon(pathArray[2].A, pathArray[2].F));
  		output.push([t1.easting,t1.northing]);
  		t1 = OsGridRef.latLonToOsGrid(new LatLon(pathArray[3].A, pathArray[3].F));
  		output.push([t1.easting,t1.northing]);
  		return output;
  	}

  	//input array in gmaps form [rf,rf,rf,rf] where rf.A = lat, rf.F = lon
  	//gets lower left corner in EN of square
  	//set round to true if using for the python script
  	function getENLL(pathArray, round){
  		t1 = OsGridRef.latLonToOsGrid(new LatLon(pathArray[0].A, pathArray[0].F));
  		if (round == true){
  			return [Math.round(t1.easting/100)*100, Math.round(t1.northing/100)*100];
  		}
  		else {
  			return [t1.easting,t1.northing];
  		}
  	}

  	$(document).ready(function() {
	  	$('#plusBtn').on('click', function () {
	  		if (squareSide < 30000) {
	  			squareSide = squareSide + 1000;
	  		}
	  		redrawSquare();
	  	});

	  	$('#minusBtn').on('click', function () {
	  		if (squareSide > 10000) {
	  			squareSide = squareSide - 1000;
	  		}
	  		redrawSquare();
	  	});

	  	$('#square-size-display').on('click', function () {
	  		squareSide = 18000;
	  		redrawSquare();
	  	});

	  	$('#export').on('click', function() {
	  		squareBaseCoord = getENLL(square.getPath().j,true);
	  		window.location = "export/?xll="+squareBaseCoord[0]+"?yll="+squareBaseCoord[1]+"?side="+squareSide;
	  	});
  	});

	google.maps.event.addDomListener(window, 'load', initialize);
 </script>
		<style>
	      html, body, #wrapper{
			    height: 100%;
			    width: 100%;
			}
			#map-canvas{
			    height: 94%;
			    width: 100%;
			}
			#navigation-bar{
				margin-bottom: 0px;
				position: relative;
				width: 100%;
				height: 6%;
			}
			#plusminusgroup {
			  	margin-left: 100px;
			  	margin-top: 0.4%;
			}
			#export {
				margin-top: 0.4%;
			}
			.customWidth {
			    width: 40px !important;
			}
    	</style>
    </head>
	<body>
		<div id='wrapper'>
	    	<nav class="navbar navbar-default" id="navigation-bar">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">UK Heightmap Generator</a>
					<div class="btn-group" id="plusminusgroup" role="group">
					  	<button type="button" class="btn btn-default customWidth" id="plusBtn">+</button>
					  	<button type="button" class="btn btn-default customWidth" id="minusBtn">-</button>
					  	<button type="button" class="btn btn-info" id='square-size-display'>18km</span>
					</div>
					<button type="button" class="btn btn-default" id="export">Export Map</button>
				</div>
			</nav>
			<div id='map-canvas'></div>
		</div>
	</body>

</html>